:root {
  /* COLOURSTYLE */
  --primary-60: rgb(255, 128, 11);
  --primary-50: rgb(255, 145, 11);
  --primary-40: rgb(255, 163, 26);
  --secondary-60: rgb(0, 75, 97);
  --secondary-50: rgb(0, 100, 128);
  --secondary-40: rgb(0, 160, 204);

  --neutral-100: rgb(41, 41, 41);
  --neutral-90: rgb(46, 46, 46);
  --neutral-80: rgb(56, 56, 56);
  --neutral-70: rgb(68, 68, 68);
  --neutral-60: rgb(96, 96, 96);
  --neutral-30: rgb(179, 179, 179);
  --neutral-20: rgb(210, 210, 210);
  --neutral-10: rgb(243, 243, 243);

  --onText-neutralDark: rgb(255, 255, 255);
  --onText-neutralLight: rgb(0, 0, 0);

  /* RADII */
  --radii-xs: 2px;
  --radii-small: 4px;
  --radii-medium: 8px;
  --radii-large: 16px;
  --radii-xl: 32px;
  --radii-xxl: 64px;
  --radii-xxxl: 128px;

  --radii-xs-rem: 0.125rem;
  --radii-small-rem: 0.25rem;
  --radii-medium-rem: 0.5rem;
  --radii-large-rem: 1rem;
  --radii-xl-rem: 2rem;
  --radii-xxl-rem: 4rem;
  --radii-xxxl-rem: 8rem;

  /* BORDER */
  --border-width-xs: 0.64px;
  --border-width-small: 0.8px;
  --border-width-medium: 1px;
  --border-width-large: 1.25px;
  --border-width-xl: 1.56px;
  --border-width-xxl: 1.95px;
  --border-width-xxxl: 2.44px;
  --border-width-xxxxl: 3.05px;
  --border-width-xxxxxl: 3.81px;

  --border-width-xs-rem: 0.04rem;
  --border-width-xl-rem: 0.0975rem;
  --border-width-xxl-rem: 0.1219rem;
  --border-width-xxxl-rem: 0.1525rem;
  --border-width-xxxxl-rem: 0.1906rem;
  --border-width-xxxxxl-rem: 0.2381rem;

  /* SPACING */
  --space-zero: 0px;
  --space-xxxxs: 1px;
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 6px;
  --space-small: 8px;
  --space-medium: 12px;
  --space-large: 16px;
  --space-xl: 20px;
  --space-xxl: 24px;
  --space-xxxl: 32px;
  --space-xxxxl: 40px;

  --space-zero-rem: 0rem;
  --space-xxxxs-rem: 0.0625rem;
  --space-xxxs-rem: 0.125rem;
  --space-xxs-rem: 0.25rem;
  --space-xs-rem: 0.375rem;
  --space-small-rem: 0.5rem;
  --space-medium-rem: 0.75rem;
  --space-large-rem: 1rem;
  --space-xl-rem: 1.25rem;
  --space-xxl-rem: 1.5rem;
  --space-xxxl-rem: 2rem;
  --space-xxxxl-rem: 2.5rem;

  /* EFFECT */
  --dropshadow-x: 0px;
  --dropshadow-y: 2px;
  --dropshadow-blur: 4px;
  --dropshadow-spread: 0px;
  --dropshadow-color: rgba(25 25 25 / 0.25);

  /* FONT  */
  --font-family-primary: "Consolas";
  --font-family-secondary: "Saira Condensed";
}

body {
  margin: 0;
}
