:root {
  /* COLOURSTYLE */
  --primary-60: rgb(255, 128, 11);
  --primary-50: rgb(255, 145, 11);
  --primary-40: rgb(255, 163, 26);
  --secondary-60: rgb(0, 75, 97);
  --secondary-50: rgb(0, 100, 128);
  --secondary-40: rgb(0, 160, 204);

  --neutral-100: rgb(16, 16, 16);
  --neutral-90: rgb(29, 29, 29);
  --neutral-80: rgb(40, 40, 40);
  --neutral-70: rgb(48, 48, 48);
  --neutral-60: rgb(84, 84, 84);
  --neutral-30: rgb(179, 179, 179);
  --neutral-20: rgb(210, 210, 210);
  --neutral-10: rgb(243, 243, 243);

  --onText-neutralDark: rgb(255, 255, 255);
  --onText-neutralLight: rgb(0, 0, 0);

  /* RADII */
  --radii-xs: 2px;
  --radii-small: 4px;
  --radii-medium: 8px;
  --radii-large: 16px;
  --radii-xl: 32px;
  --radii-xxl: 64px;
  --radii-xxxl: 128px;

  --radii-xs-rem: 0.125rem;
  --radii-small-rem: 0.25rem;
  --radii-medium-rem: 0.5rem;
  --radii-large-rem: 1rem;
  --radii-xl-rem: 2rem;
  --radii-xxl-rem: 4rem;
  --radii-xxxl-rem: 8rem;

  /* BORDER */
  --border-width-xs: 0.64px;
  --border-width-small: 0.8px;
  --border-width-medium: 1px;
  --border-width-large: 1.25px;
  --border-width-xl: 1.56px;
  --border-width-xxl: 1.95px;
  --border-width-xxxl: 2.44px;
  --border-width-xxxxl: 3.05px;
  --border-width-xxxxxl: 3.81px;

  --border-width-xs-rem: 0.04rem;
  --border-width-xl-rem: 0.0975rem;
  --border-width-xxl-rem: 0.1219rem;
  --border-width-xxxl-rem: 0.1525rem;
  --border-width-xxxxl-rem: 0.1906rem;
  --border-width-xxxxxl-rem: 0.2381rem;

  /* SPACING */
  --space-zero: 0px;
  --space-xxxxs: 1px;
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 6px;
  --space-small: 8px;
  --space-medium: 12px;
  --space-large: 16px;
  --space-xl: 20px;
  --space-xxl: 24px;
  --space-xxxl: 32px;
  --space-xxxxl: 40px;

  --space-zero-rem: 0rem;
  --space-xxxxs-rem: 0.0625rem;
  --space-xxxs-rem: 0.125rem;
  --space-xxs-rem: 0.25rem;
  --space-xs-rem: 0.375rem;
  --space-small-rem: 0.5rem;
  --space-medium-rem: 0.75rem;
  --space-large-rem: 1rem;
  --space-xl-rem: 1.25rem;
  --space-xxl-rem: 1.5rem;
  --space-xxxl-rem: 2rem;
  --space-xxxxl-rem: 2.5rem;

  /* EFFECT */
  --dropshadow-x: 0px;
  --dropshadow-y: 0px;
  --dropshadow-blur: 8px;
  --dropshadow-spread: 0px;
  --dropshadow-color: rgba(10 10 10 / 0.29);

  /* FONT  */
  --font-family-primary: "Consolas";
  --font-family-secondary: "Saira Condensed";

  /* FONT SIZING */
  --font-size-mobile-medium: 16px;
  --font-size-mobile-medium-rem: 1rem;
  --font-size-mobile-large: 20px;
  --font-size-mobile-large-rem: 1.25rem;
  --font-size-mobile-xl: 25px;
  --font-size-mobile-xl-rem: 1.5625rem;
  --font-size-mobile-xxl: 31.25px;
  --font-size-mobile-xxl-rem: 1.9531rem;
  --font-size-mobile-xxxl: 39.06px;
  --font-size-mobile-xxxl-rem: 2.4413rem;
  --font-size-midscreen-medium: 18px;
  --font-size-midscreen-medium-rem: 1.125rem;
  --font-size-midscreen-large: 22.5px;
  --font-size-midscreen-large-rem: 1.4063rem;
  --font-size-midscreen-xl: 28.13px;
  --font-size-midscreen-xl-rem: 1.7581rem;
  --font-size-midscreen-xxl: 35.16px;
  --font-size-midscreen-xxl-rem: 2.1975rem;
  --font-size-midscreen-xxxl: 43.95px;
  --font-size-midscreen-xxxl-rem: 2.7469rem;
  --font-size-fullscreen-medium: 20px;
  --font-size-fullscreen-medium-rem: 1.25rem;
  --font-size-fullscreen-large: 25px;
  --font-size-fullscreen-large-rem: 1.5625rem;
  --font-size-fullscreen-xl: 31.25px;
  --font-size-fullscreen-xl-rem: 1.9531rem;
  --font-size-fullscreen-xxl: 39.06px;
  --font-size-fullscreen-xxl-rem: 2.4413rem;
  --font-size-fullscreen-xxxl: 48.83px;
  --font-size-fullscreen-xxxl-rem: 3.0519rem;

  /* --- FONT FAMILY ---*/
  --font-family-primary: "Bitstream Vera Sans";
  --font-family-secondary: "Consolas";
  /* --- FONT WEIGHT ---*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 700;
  /* --- FONT LINE HEIGHT ---*/
  --line-height-small: 1.25px;
  --line-height-small-rem: 0.0781rem;
  --line-height-medium: 1.5px;
  --line-height-medium-rem: 0.0938rem;
  --line-height-large: 1.75px;
  --line-height-large-rem: 0.1094rem;
  /* --- FONT SIZE ---*/
  --font-size-mobile-small: 12.8px;
  --font-size-mobile-small-rem: 0.8rem;
  --font-size-midscreen-small: 14.4px;
  --font-size-midscreen-small-rem: 0.9rem;
  --font-size-fullscreen-small: 16px;
  --font-size-fullscreen-small-rem: 1rem;
  --font-weight-light: 200px;
  --font-weight-light-rem: 12.5rem;
  --line-height-xl: 2px;
  --line-height-xl-rem: 0.125rem;
  --font-size-mobile-xs: 10.24px;
  --font-size-mobile-xs-rem: 0.64rem;
  --font-size-mobile-xxxxl: 48.83px;
  --font-size-mobile-xxxxl-rem: 3.0519rem;
  --font-size-mobile-xxxxxl: 61.04px;
  --font-size-mobile-xxxxxl-rem: 3.815rem;
  --font-size-midscreen-xs: 11.52px;
  --font-size-midscreen-xs-rem: 0.72rem;
  --font-size-midscreen-xxxxl: 54.93px;
  --font-size-midscreen-xxxxl-rem: 3.4331rem;
  --font-size-midscreen-xxxxxl: 68.66px;
  --font-size-midscreen-xxxxxl-rem: 4.2913rem;
  --font-size-midscreen-xxs: 9.22px;
  --font-size-midscreen-xxs-rem: 0.5763rem;
  --font-size-midscreen-xxxs: 7.37px;
  --font-size-midscreen-xxxs-rem: 0.4606rem;
  --font-size-mobile-xxs: 8.19px;
  --font-size-mobile-xxs-rem: 0.5119rem;
  --font-size-mobile-xxxs: 6.55px;
  --font-size-mobile-xxxs-rem: 0.4094rem;
  --font-size-fullscreen-xs: 12.8px;
  --font-size-fullscreen-xs-rem: 0.8rem;
  --font-size-fullscreen-xxs: 10.24px;
  --font-size-fullscreen-xxs-rem: 0.64rem;
  --font-size-fullscreen-xxxs: 8.19px;
  --font-size-fullscreen-xxxs-rem: 0.5119rem;
  --font-size-fullscreen-xxxxl: 61.04px;
  --font-size-fullscreen-xxxxl-rem: 3.815rem;
  --font-size-fullscreen-xxxxxl: 76.29px;
  --font-size-fullscreen-xxxxxl-rem: 4.7681rem;
}
