.buttonTab-ctn {
  display: flex;
  padding: var(--space-xxs, 4px) 0px;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xxs, 4px);
  flex: 1 0 0;
  align-self: stretch;
}

/* --- BUTTONS --- */
.buttonTab-ctn .buttonTab {
  display: flex;
  width: var(--space-xxxxl, 40px);
  justify-content: center;
  align-items: center;
  border-radius: var(--radii-medium, 8px);
}

/* BUTTONS ANIMATED STATES */
.buttonTab.hover path {
  stroke: var(--primary-50, #ff910b);
}

.buttonTab.clicked path {
  stroke: var(--primary-60, #ff800b);
}

.buttonTab.clicked-hover path {
  stroke: var(--primary-60, #ff800b);
}

.buttonTab.disabled path {
  fill: var(--neutral-60, #606060);
  cursor: none;
}

.account.default path {
  stroke: none;
  fill: var(--onText-neutralDark, #fff);
}

.account.hover path {
  stroke: none;
  fill: var(--primary-60, #ff800b);
}

.account.clicked path {
  stroke: none;
  fill: var(--primary-60, #ff800b);
}

.account.clicked-hover path {
  stroke: none;
  fill: var(--primary-60, #ff800b);
}

.account.disabled path {
  stroke: var(--neutral-60, #606060);
  cursor: none;
}

/* --- TEXT --- */
.buttonTab-ctn .text-button {
  color: var(--onText-neutralDark, #fff);
  text-align: center;

  /* small/primary/base */
  font-family: var(--font-family-primary, Consolas);
  font-size: var(--font-size-mobile-small, 12.8px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
/* TEXT ANIMATED STATES */
.buttonTab-ctn .text-button.default {
  animation: primaryToDefault 300ms ease-out forwards;
}

.buttonTab-ctn .text-button.hover {
  animation: primaryToHover 300ms ease-out forwards;
}
.buttonTab-ctn .text-button.clicked {
  color: var(--primary-60, #ff800b);
}
.buttonTab-ctn .text-button.clicked-hover {
  animation: primaryToHover 300ms ease-out forwards;
}

/* TAB ANIMATED STATES */
.buttonTab-ctn.hover {
  border-top: 2px solid var(--primary-60, #ff800b);
}

.buttonTab-ctn.clicked-hover {
  border-top: 2px solid var(--primary-60, #ff800b);
}

.buttonTab-ctn .disabled {
  color: var(--neutral-60, #606060);
  cursor: none;
}

@keyframes primaryToHover {
  0% {
    color: var(--onText-neutralDark, #fff);
  }
  100% {
    color: var(--primary-60, #ff800b);
  }
}

@keyframes primaryToDefault {
  0% {
    color: var(--primary-60, #ff800b);
  }
  100% {
    color: var(--onText-neutralDark, #fff);
  }
}
