.buttonTab-ctn {
  display: inline-flex;
  height: 48px;
  padding: var(--space-xxs, 4px) 0px;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xxs, 4px);
  flex-shrink: 0;
}

.buttonTab-ctn .buttonTab {
  display: flex;
  width: var(--space-xxxxl, 40px);
  justify-content: center;
  align-items: center;
  border-radius: var(--radii-medium, 8px);
}

.buttonTab-ctn .text-button {
  color: var(--onText-neutralDark, #fff);
  text-align: center;

  /* small/primary/base */
  font-family: var(--font-family-primary, Consolas);
  font-size: var(--font-size-mobile-small, 12.8px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.buttonTab-ctn .text-button.default {
  animation: primaryToDefault 300ms ease-out forwards;
}

.buttonTab-ctn .text-button.hover {
  animation: primaryToHover 300ms ease-out forwards;
}

@keyframes primaryToHover {
  0% {
    color: var(--onText-neutralDark, #fff);
  }
  100% {
    color: var(--primary-50, #ff910b);
  }
}

@keyframes primaryToDefault {
  0% {
    color: var(--primary-50, #ff910b);
  }
  100% {
    color: var(--onText-neutralDark, #fff);
  }
}
