.input-div {
  display: flex;
  width: 26.875rem;
  height: 3.75rem;
  padding: var(--space-zero, 0rem) var(--space-large, 1rem);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-xxs, 0.25rem);
}

.input-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;

  color: var(--neutral-20, #d2d2d2);
  /* medium/secondary/base */
  font-family: var(--font-family-primary, Consolas);
  font-size: var(--font-size-mobile-medium, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 400);
  line-height: 175%; /* 1.75rem */
}
