.cardPost-ctn {
  display: flex;
  width: 24.6875rem;
  height: 11.25rem;
  padding: var(--space-small, 0.5rem) var(--space-large, 1rem);
  align-items: center;
  gap: var(--space-small, 0.5rem);
  flex-shrink: 0;

  border-radius: var(--radii-medium, 0.5rem);
  background: var(--neutral-70, #444);

  /* dropShadow */
  box-shadow: var(--dropShadow-x, 0px) var(--dropShadow-y, 2px)
    var(--dropShadow-blur, 4px) var(--dropShadow-spread, 0px)
    var(--dropShadow-color, rgba(25, 26, 26, 0.25));
}

.card-text-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-large, 1rem);
  flex: 1 0 0;
}

.card-text-ctn .card-heading {
  display: flex;
  align-items: center;
  gap: var(--space-zero, 0rem);
  align-self: stretch;
}

.card-text-ctn .card-heading .heading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;

  color: var(--primary-60, #ff800b);

  /* xl/primary/base */
  font-family: var(--font-family-primary, Consolas);
  font-size: var(--font-size-mobile-xl, 1.5625rem);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: 150%; /* 2.34375rem */
}

.card-text-ctn .card-heading .heading-text.hover {
  text-underline-position: under;
  text-decoration-line: underline;
}

.card-text-ctn .card-label {
  display: flex;
  height: var(--space-xxl, 1.5rem);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card-text-ctn .card-label .label-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;

  color: var(--neutral-30, #b3b3b3);

  /* medium/secondary/base */
  font-family: var(--font-family-primary, Consolas);
  font-size: var(--font-size-mobile-medium, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 400);
  line-height: 175%; /* 1.75rem */
}

.card-text-ctn .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xxs, 0.25rem);
  align-self: stretch;
}

.card-text-ctn .card-info .card-row {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 2rem;
}

.card-text-ctn .card-info .card-row .info-text {
  flex: 1 0 0;
  color: var(--onText-neutralDark, #fff);

  /* small/primary/base */
  font-family: var(--font-family-primary, Consolas);
  font-size: var(--font-size-mobile-small, 0.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-img-ctn {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--neutral-90, #2e2e2e);
}
